body {
    font-family: "Audiowide", sans-serif;
}
.container{
    background: #000;
    width: 100%;
    height: 500px;
    position: relative;
}
.code{
    position: absolute;
    color: white;
    text-align: center;
    top: 200px;
    left: 40%;
}